<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="font-awesome/css/all.css") }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;900&display=swap" rel="stylesheet">

 <!--   <link rel="stylesheet" href="https://serratus.github.io/quaggaJS/stylesheets/example.css"> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</head>

<body>
    <div class="container-fluid" style="height: 100vh; background-color: #12ADB3;">
        <div class="row d-flex flex-row justify-content-center py-5">
            <div class="col-sm-7 col-md-6 col-lg-5 col-xl-4 col-xxl-3 bg-light py-3 shadow-lg rounded">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
</body>
