{% extends '/bases/base_login.html' %}

{% block title %}Login{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='clientes/login-register.css') }}">
{% endblock %}


{% block content %}
    <h2 class="display-2 text-center mt-2 mb-4 pb-3 title-login">LOGIN</h2>
    
    <form class="form-login" action="" method="post">
        {{ form.csrf_token }}

        {% with sucessos = get_flashed_messages(category_filter=['sucesso']) %}
            {% if sucessos %}
            <div class="alert alert-success" role="alert">
                <ul class="m-0 p-0 list-unstyled">
                    {% for msg in sucessos %}
                        <li><i class="fa-solid fa-circle-check"></i> {{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        {% with erros = get_flashed_messages(category_filter=['erro']) %}
            {% if erros %}
            <div class="alert alert-danger" role="alert">
                <ul class="m-0 p-0 list-unstyled">
                    {% for msg in erros %}
                        <li><i class="fa-solid fa-circle-exclamation"></i> {{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        {% with erros = get_flashed_messages(category_filter=['email']) %}
            {% if erros %}
            <div class="alert alert-warning" role="alert">
                <ul class="m-0 p-0 list-unstyled">
                    {% for msg in erros %}
                        <li><i class="fa-solid fa-circle-exclamation"></i> {{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        <div class="form-floating mb-3">
            {{ form.email(class="form-control", id="emailInput", placeholder="name@example.com") }}  
            <label for="emailInput">Email</label>

            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.email.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-2">
            {{ form.senha(class="form-control", id="senhaInput", placeholder="Senha") }}
            <label for="senhaInput" >Senha</label>

            {% if form.senha.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.senha.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-2 form-check">
                    {{ form.lembrar_me(class="form-check-input", id="lembrar_me") }}   
                    <label class="form-check-label" for="lembrar_me">Lembrar-me</label>
                </div>
            </div>
            <div class="col">
                <div id="recoverypasswdHelpBlock" class="form-text mb-2 text-end">
                    <a href="{{ url_for('clientes.recuperar_senha') }}"><i class="fa-solid fa-key"></i> Esqueci minha senha.</a>
               </div>
            </div>     
        </div>
        
        <div id="registerHelpBlock" class="form-text mb-4">
            <i class="fa-solid fa-circle-info"></i> Ainda não tenho uma conta. <a href="{{ url_for('clientes.register') }}">CRIAR CONTA.</a> 
        </div>
        
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-info btao text-center"><i class="fa-solid fa-right-to-bracket me-1"></i>ENTRAR</button>
            </div>
        </div>
    </form>
    
{% endblock %}