{% extends '/bases/base_login.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <h2 class="display-2 text-center mt-2 mb-4 pb-3" style="font-family: 'Bebas Neue', cursive; font-weight:bold; font-size:45px; letter-spacing: .1rem; border-bottom: 1px solid #dee2e6!important;">CADASTRO</h2>
    
    <form class="login-register" action="" method="post">
        {{ form.csrf_token }}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="m-0 p-0 list-unstyled">
                    {% for msg in messages %}
                        <li><i class="fa-solid fa-circle-exclamation"></i> {{ msg }}. Vá para <a href="{{ url_for('clientes.login') }}">Página de Login</a> </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        <div class="form-group mb-3">
            <label for="nome" class="form-label"><i class="fa-solid fa-circle-user"></i> Nome: </label>
            {{ form.nome(class="form-control") }}

            {% if form.nome.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.nome.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group mb-3">
            <label for="email" class="form-label"><i class="fa-solid fa-envelope"></i> Email: </label>
            {{ form.email(class="form-control") }}

            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.email.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group mb-2">
            <label for="senha" class="form-label"><i class="fa-solid fa-lock"></i> Senha: </label>
            {{ form.senha(class="form-control") }}

            {% if form.senha.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.senha.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div id="loginHelpBlock" class="form-text mb-4">
            <i class="fa-solid fa-circle-info"></i> Já tenho uma conta. <a href="{{ url_for('clientes.login') }}">FAZER LOGIN.</a>
        </div>

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-info btao text-center"><i class="fa-solid fa-user-plus fa-sm"></i> CADASTRAR</button>
            </div>
        </div>
    </form>
    
{% endblock %}