{% extends '/bases/base_login.html' %}

{% block title %}Criar Conta{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='clientes/login-register.css') }}">
{% endblock %}

{% block content %}

    <h2 class="display-2 text-center mt-2 mb-4 pb-3 title-login">CRIAR CONTA</h2>
    
    <form class="form-login" action="" method="post">
        {{ form.csrf_token }}

        {% with erros = get_flashed_messages(category_filter=['erro']) %}
            {% if erros %}
            <div class="alert alert-danger" role="alert">
                <ul class="m-0 p-0 list-unstyled">
                    {% for msg in erros %}
                        <li><i class="fa-solid fa-circle-exclamation"></i> {{ msg }} </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        {% with erros = get_flashed_messages(category_filter=['email']) %}
            {% if erros %}
            <div class="alert alert-warning" role="alert">
                <ul class="m-0 p-0 list-unstyled">
                    {% for msg in erros %}
                        <li><i class="fa-solid fa-circle-exclamation"></i> {{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endwith %}

        <div class="form-floating mb-3">
            <!-- <label for="nome" class="form-label"><i class="fa-solid fa-circle-user"></i> Nome: </label>
            {{ form.nome(class="form-control") }} -->
            {{ form.nome(class="form-control", id="nomeInput", placeholder="Nome") }}
            <label for="nomeInput">Nome</label>

            {% if form.nome.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.nome.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.email(class="form-control", id="emailInput", placeholder="email@exemplo.com") }}
            <label for="emailInput">Email</label>

            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.email.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            {{ form.senha(class="form-control", id="senhaInput", placeholder="Senha") }}
            <label for="senhaInput">Senha</label>

            {% if form.senha.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.senha.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{ form.confirma(class="form-control", id="confirmaInput", placeholder="Confirmar Senha") }}
            <label for="confirmaInput">Confirmar Senha</label>

            {% if form.confirma.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for erro in form.confirma.errors %}
                            <li>{{ erro }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        
        <div id="loginHelpBlock" class="form-text mb-4">
            <i class="fa-solid fa-circle-info"></i> Já tenho uma conta. <a href="{{ url_for('clientes.login') }}">FAZER LOGIN.</a>
        </div>

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-info btao text-center"><i class="fa-solid fa-user-plus fa-sm"></i> CADASTRAR</button>
            </div>
        </div>
    </form>
    
{% endblock %}